:root {
  --c-light-0: #ffffff;
  --c-light-1: #eeeeee;
  --c-light-11: #d8d8d8;
  --c-light-2: #aaaaaa;
  --c-light-3: #888888;
  --c-light-4: #777777;
  --c-light-5: #555555;
  --c-light-t: rgba(235, 235, 235, 0.64);

  --c-dark-0: #000000;
  --c-dark-1: #181818;
  --c-dark-2: #222222;
  --c-dark-3: #282828;
  --c-dark-4: #333333;
  --c-dark-5: #555555;
  --c-dark-t: rgba(84, 84, 84, 0.65);

  --c-error: #ff0000;

  --c-x: #ff0000;
  --c-y: #00ff00;
  --c-z: #0000ff;
  --c-x-t: #ff000077;
  --c-y-t: #00ff0077;
  --c-z-t: #0000ff77;

  --quat-bg-alpha: 0.5;
  --c-bg-quat-x: rgba(255, 0, 0, var(--quat-bg-alpha));
  --c-bg-quat-y: rgba(0, 255, 0, var(--quat-bg-alpha));
  --c-bg-quat-z: rgba(0, 0, 255, var(--quat-bg-alpha));
  --c-bg-quat-w: rgba(255, 255, 0, var(--quat-bg-alpha));

  --cont-border-radius: 20px;
}

/* semantic color variables for this project */
:root {
  --c-text-main: var(--c-dark-t);
  --c-text-accent: var(--c-dark-0);
  --c-text-help: var(--c-dark-2);

  --c-bg-main: var(--c-light-2);
  --c-bg-accent: var(--c-light-11);
  --c-bg-canvas: var(--c-light-2);

  --c-selection: var(--c-light-1);
  --c-bg-tooltip: var(--c-light-0);
  --c-text-tooltip: var(--c-dark-0);

  --c-btn-border: var(--c-text-main);
  --c-btn-bg: var(--c-light-11);
  --c-btn-bg-hover: var(--c-light-2);
  --c-btn-bg-active: var(--c-light-3);
  --c-table-bg: var(--c-light-3);
  --c-table-header: var(--c-light-4);
  --c-table-border: var(--c-light-t);
  --c-svg: var(--c-text-main);
  --c-svg-hover: var(--c-dark-0);
}

.dark {
  --c-text-main: var(--c-light-t);
  --c-text-accent: var(--c-light-0);
  --c-text-help: var(--c-light-t);

  --c-bg-main: var(--c-dark-1);
  --c-bg-accent: var(--c-dark-2);
  --c-bg-canvas: var(--c-dark-2);

  --c-selection: var(--c-dark-0);
  --c-bg-tooltip: var(--c-dark-0);
  --c-text-tooltip: var(--c-light-0);

  --c-btn-border: var(--c-dark-t);
  --c-btn-bg: var(--c-dark-3);
  --c-btn-bg-hover: var(--c-dark-4);
  --c-btn-bg-active: var(--c-dark-5);

  --c-table-bg: var(--c-dark-3);
  --c-table-header: var(--c-dark-4);
  --c-table-border: var(--c-dark-t);

  --c-svg: var(--c-light-t);
  --c-svg-hover: var(--c-light-0);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: var(--c-text-main);
  background: var(--c-bg-main);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}