:root {
  --c-light-0: #ffffff;
  --c-light-1: #f8f8f8;
  --c-light-2: #f2f2f2;

  --c-dark-0: #000000;
  --c-dark-1: #181818;
  --c-dark-2: #222222;
  --c-dark-3: #282828;

  --c-indigo: #2c3e50;

  --c-divider-light-1: rgba(60, 60, 60, 0.29);
  --c-divider-light-2: rgba(60, 60, 60, 0.12);
  --c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --c-text-light-1: var(--c-indigo);
  --c-text-light-2: rgba(60, 60, 60, 0.66);
  --c-text-dark-1: var(--c-light-0);
  --c-text-dark-2: rgba(235, 235, 235, 0.64);

  --quat-bg-alpha: 0.1;
  --c-bg-quat-x: rgba(255, 0, 0, var(--quat-bg-alpha));
  --c-bg-quat-y: rgba(0, 255, 0, var(--quat-bg-alpha));
  --c-bg-quat-z: rgba(0, 0, 255, var(--quat-bg-alpha));
  --c-bg-quat-w: rgba(255, 255, 0, var(--quat-bg-alpha));

  --c-bg-btn: #282828;
  --c-bg-btn-hover: #333;
  --c-bg-btn-active: #555;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--c-light-0);
  --color-background-soft: var(--c-light-1);
  --color-background-mute: var(--c-light-2);

  --color-border: var(--c-divider-light-2);
  --color-border-hover: var(--c-divider-light-1);

  --color-heading: var(--c-text-light-1);
  --color-text: var(--c-text-light-1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--c-dark-1);
    --color-background-soft: var(--c-dark-2);
    --color-background-mute: var(--c-dark-3);

    --color-border: var(--c-divider-dark-2);
    --color-border-hover: var(--c-divider-dark-1);

    --color-heading: var(--c-text-dark-1);
    --color-text: var(--c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}