@import './base.css';

#app {
  max-width: 1280px;
  min-width: 650px;
  margin: 0 auto;
  font-weight: normal;
}

h1 {
  user-select: none;
}

h2 {
  user-select: none;
}

*:focus {
  outline: none;
}

::selection {
  background-color: var(--c-selection);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  line-height: 1.2;
  visibility: hidden;
  width: 120px;
  background-color: var(--c-bg-tooltip);
  color: var(--c-text-tooltip);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}